{%- comment -%}
This is NOT required section for the Shopify Theme Store.
It will be avaiable from shopify store.

Theme Store required settings:


Theme Store optional settings:

{%- endcomment -%}
<section class="hero">
  <div class="container-fluid hero__container">
    <div class="row">
      <div class="col">
          <div class="hero__content"> <!--update hero to hero-->
            {% if section.settings.desktop_banner_image != blank and section.settings.mobile_banner_image != blank %}
              <div class="hero__cover">
                <picture>
                  <source media="(min-width:749px)" srcset="{{section.settings.desktop_banner_image | img_url: 'master'}}" />
                  <source media="(min-width:320px)" srcset="{{ section.settings.mobile_banner_image | img_url:"master"}}" />
                  <img src="{{section.settings.mobile_banner_image | img_url: "master"}}" alt="Banner Image" />
                </picture>
              </div>
            {% endif %}
              <div class="row hero__row">
                {% if section.settings.sidebar_image != blank %}
                  <div class="col hero__col hero__col--image">
                    <div class="hero__image">
                      <img src="{{section.settings.sidebar_image | img_url:'master'}}" />
                    </div>
                  </div>
                {% endif %}
                <div class="col hero__col hero__col--text">
                  {% if section.settings.heading != blank %}
                    <h4 class="hero__subheading">
                      {{section.settings.heading}}
                    </h4>
                  {% endif %}
                  {% if section.settings.subheading != blank %}
                    <h2 class="hero__heading">
                      {{section.settings.subheading}}
                    </h2>
                  {% endif %}
                  <div class="hero__buttons">
                    {% if section.settings.cta_text-1 != blank  and section.settings.cta_url-1 != blank %}
                     <button class="btn btn-primary" onclick="window.location.href('{{section.settings.cta_url-1}}')">{{section.settings.cta_text-1}}</button>
                    {% endif %}
                    {% if section.settings.cta_text-2  != blank and section.settings.cta_url-2 != blank%}
                      <button class="btn btn-secondary" onclick="window.location.href('{{section.settings.cta_url-2}}')">{{section.settings.cta_text-2}}</button>
                      <a class="hero__link link--default">{{section.settings.cta_text-2}}</a>
                     {% endif %}
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
 {
   "name" : "Hero",
   "settings" : [
     {
       "type" : "image_picker",
       "id" :"desktop_banner_image",
       "label": "Please select desktop banner image"
     },
     {
      "type" : "image_picker",
      "id" :"mobile_banner_image",
      "label": "Please select mobile banner image"
    },
    {
      "type" : "image_picker",
      "id" :"sidebar_image",
      "label": "Please select Sidebar image"
    },
    {
      "type" : "text",
      "id" :"subheading",
      "label": "Please enter subheading"
    },
    {
      "type" : "text",
      "id" :"heading",
      "label": "Please enter heading"
    },
    {
      "type" : "text",
      "id" :"cta_text-1",
      "label": "Please primary enter Cta text"
    },
    {
      "type" : "url",
      "id" :"cta_url-1",
      "label": "Please primary enter Cta text"
    },
    {
      "type" : "text",
      "id" :"cta_text-2",
      "label": "Please secondary enter Cta text"
    },
    {
      "type" : "url",
      "id" :"cta_url-2",
      "label": "Please secondary enter Cta text"
    }
   ]
 }
{% endschema %}