<div class="header-login">
  <a href="javascript:void(0);" class="header-login__item search search-window-open">
    <img src="{{ 'magnifier.svg' | asset_url }}"  alt="{{ shop.name }}" itemprop="logo">
  </a>  
    {% if customer %}
      <a href="/account" class="header-login__item customer">
        <img src="{{ 'account.svg' | asset_url }}"  alt="{{ shop.name }}" itemprop="logo">
      </a>
    {% else %}
      <a href="/account/login" class="header-login__item customer">
        <img src="{{ 'account.svg' | asset_url }}"  alt="{{ shop.name }}" itemprop="logo">
      </a>
    {% endif %}     
  <a href="/cart" class="header-login__item basket">
    {% if cart.item_count > 0 %}
      <div class="basket__count">{{ cart.item_count }}</div>
    {% endif %}
    <img src="{{ 'bag.svg' | asset_url }}"  alt="{{ shop.name }}" itemprop="logo">
  </a> 
</div>